{% extends 'base.html.twig' %}

{% block title %}Modifier reservation{% endblock %}

{% block body %}
    <h1>Modifier reservation</h1>

    {{ include('reservation/_form.html.twig', {'button_label': 'Mettre a jour'}) }}


{% endblock %}
{% block footer %}
{% endblock %}
