{% extends 'base.html.twig' %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1>
Accueil 
</h1>
<div class="slideshow-container">

  <div class="mySlides fade">
    <img src="https://www.pierre-giraud.com/bootstrap-carrousel-slide-1.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="https://www.pierre-giraud.com/bootstrap-carrousel-slide-2.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="https://www.pierre-giraud.com/bootstrap-carrousel-slide-3.jpg" style="width:100%">
  </div>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

<script>
var slideIndex = 0;
showSlides();
function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>

{% endblock %}