{% extends 'base.html.twig' %}

{% block body %}

{% for reservation in reservations %}

{% endfor %}
<center>
<h3 class="titre">Paiement</h3>

<form action={{path('Accueil')}} method="get">
<label>Nom :</label>
<input type="text" name="nom"/>
<br>
<label>Numero de carte :</label>
<input type="number_format" maxlenght="16" size="16" name="num"/>
<br>
<label>Date d'expiration :</label>
<input type="date" name="date" />
<br>
<label>CVV :</label>
<input type="text" maxlenght="3" size="3" name="cvv"/>
<br>
<input type="submit" />
</form>
</center>

{% endblock %}
{% block footer %}
{% endblock %}