<html>
<head>
    <title>Projets Webservices</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
    <style>
        #map { height: 94%; }
    </style>
<script async src='/cdn-cgi/bm/cv/669835187/api.js'></script></head>
<body onload="listeVille()">
    <div id="map" onClick="miseAJOurCoordonnees()"></div>
    <forms>
        <p>
            Votre position : <input type="text" id="recherche">
            <button onClick="rechercheVille()">Rechercher</button>
            <button onClick="maPosition()">Ma position</button>
        </p>
    </forms>
    
    
    <script>
       //Initialisation de la carte
       var map = L.map('map').setView([45.4248753, 2.7873028], 6);


       L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1Ijoid2VieWMiLCJhIjoiY2pzYnQ0MDByMDMzazRhbnl6NnNrZnVsYiJ9.MQe0cRrJaGs-t4vjt4MXoQ'
        }).addTo(map);



       //Getter
       function getLatitude()
       {
           return map.getCenter().lat
       }

       function getLongitude()
       {
           return map.getCenter().lng
       }
       
       function rechercheVille()
       {
        inputRecherche = document.getElementById("recherche");
        var req = new XMLHttpRequest();

        req.open('GET', "https://api-adresse.data.gouv.fr/search/?q="+ inputRecherche.value +"&limit=1", false);
        req.send(null);
        const reponse = req.responseText
        const objet = JSON.parse(reponse)

        map.setView([objet.features[0].geometry.coordinates[1],objet.features[0].geometry.coordinates[0]], 13);
        var marker = L.marker([getLatitude(),getLongitude()]).addTo(map);
        miseAJOurCoordonnees()
       }

       function maPosition() 
       {
            navigator.geolocation.getCurrentPosition(showPosition);
       }

        function showPosition(position) 
        {
            map.setView([position.coords.latitude,position.coords.longitude], 13);
            var marker = L.marker([getLatitude(),getLongitude()]).addTo(map);
            marker.bindPopup("Vous etes ici !").openPopup();
            miseAJOurCoordonnees()
        }
        L.marker([48.862725,2.287592 ]).addTo(map)
        .bindPopup("Espace de coworking 1")
        L.marker([43.5219809, -1.5262218]).addTo(map)
        .bindPopup("Espace de coworking 2")
        
    </script>
</html>
    